
p{
    text-align: center;
}

div {
    
        width: 25%;
        border: 5px solid green;
        padding: 200px;
        margin: auto;
        background-color: #74b4d1;
        text-align: start;
           
}
h1{
    color: blue;
    text-align: center;
}
